<body background="https://raw.githubusercontent.com/jdbennett1/starU-app/main/cool-background%20(1).png">
    {% extends 'base.html' %}
    {% block title %}Home{% endblock title %}

    {% block content %}
    <br />
    <style>
        h1 {
            text-shadow: 2px 2px 5px red;
        }
    </style>


    <!--<div class="jumbotron">-->
    <h1 class="display-4">Star U</h1>
    <p class="lead">A Reviewing website to know where you stand among the rest.</p>
    <p class="lead"> Start by clicking on "View All Profiles" or using the Search Bar above to find someone Specific
    </p>
    <p class="lead"> You can also click on the About the App button above to learn more</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Profiles</a>
    </p>
    <!--</div>-->

    {% endblock content %}
</body>

<!--"background-color:#C2C2C2;"-->